.card{
border-radius: 50px;
}

img{
    border-radius: 10px;
}
.discount-offer{

    font-weight: 800;

    background-color: rgb(63, 228, 206);
    border-radius: 6px;
    padding: 2px;
    color: green;
    
}
