
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=The+Nautigal:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;
    scroll-behavior: smooth;
}

#wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: auto;
    
}

.container{
    width: 1200px;
    /* to keep the whole thing in the center and margin from both the side as 0 */
    margin: 0 auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;

}

.logo{
    width: 70px;
    bottom: 10px;
}
.navlogo{
    display: flex;
    justify-content: baseline  ;
   align-items: center;
    
}
.logo-text{
    font-size: 24px;
    margin-left: -.2rem;

}
.navitems{
    display: flex;
    gap: 2rem;
    padding: 0 4em;
    
}

.navitems div{
    font-size:20px ;
    font-weight: 200;
    cursor: pointer;
    
}

.navitems a{
    color: red;
    text-decoration: none;
}

.navitems div:hover{
    font-style: bold;
    color: black;
    
    transition: 1s;
    
}

.hero-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 5rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;
}
.faded-text{
   
    user-select: none;
    font-size: 7em;
    color: rgb(231,231,231);
    

    bottom: -16%;
    left: 0%;
    font-weight: bold;
    transition: all 3s;

}

.hero-section-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.hero-section-heading{
    font-size: 35px;
    color: #343d68;
    font-weight: 500;
}

.role{
    color: #4e45d5;
    font-weight: 800;
}
.hero-section-subheading{
    font-size: 45px;
    line-height: 45px;

}

.hero-section-description{
   margin-top: 1rem;
   width: 70%;
    font-weight: 500;
}

.pink-btn{
    background-color: #e84949;
    padding: 0.8rem 2.8rem;
    color: black;
    font-size: 18px;
    box-shadow: 5px 5px 7px 0px grey;
    animation: forwards;
    position: relative;
    z-index: 1;
    height: 2.5em;
    width: 9em;
    cursor:pointer

}

.pink-btn::before{
content: "";
background-color: white;
position: absolute;
top: 0;
bottom: 0;
right:0;
left: 0;
transform: scaleX(0);
transition:all 1s;
transform-origin: left;
z-index:-1;


}

.pink-btn:hover::before{
transform: scaleX(1);
}

.hero-section-right{
    position: relative;
}

.absolute{
    position: absolute;
}
.user-image{
    padding: 2.5rem;
    filter:grayscale(1);
    transition: all 1s;
    animation: scaleImage 5s linear infinite;

}
.user-image img{
    z-index: -9;
}
@keyframes scaleImage {
0%{
    filter: grayscale(0);
    transform: scale(1);

}

50%{
transform: scale(1.1);
filter: grayscale(1);
box-shadow: 3px 3px 10px black;
}

100%{
    transform: scale(1);
    filter: grayscale(0);
}
    
}

.icon-dots{
    z-index: 9;
    bottom: -1rem;
    right: 0;
    animation-name: dotsAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}

@keyframes dotsAnimation {

    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-15px);
    }

    100%{
        transform: translateY(0px);
    }
    
}

.icon-cube{
    z-index: 10;
    top: -0.8em;
    right: 1em;

    animation-name: cubeRotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes cubeRotate {

    0%{
        transform: translateY(0px ) rotateY(0deg);
        
    }

    50%{
        transform: rotateY(180deg) translateY(-15px);
    }

    100%{
        transform: rotateY(360deg) translateY(0px);
    }
    
}

.icon-circle{
    z-index: 11;
    left: 0;
    bottom: 0;
    animation-name: shakeEffect;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes shakeEffect {

    0%{
        left: 0;
        bottom: 0;
        
    }

    50%{
        left: 5%;
        bottom: 10%;
    }

    100%{
        left: 0;
        bottom: 0;
    }

    
}

.icon-zigzag{
    z-index: 14;
    top: 1.5em;
    left: -0.3em;
    animation-name: zigzagAnimation;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}


@keyframes zigzagAnimation{


    50%{
        left: 5%;
       top: 2%;
    }
  
}

.icon-plus{
    z-index: 15;
    top: -0.8rem;
    left: 50%;
    animation: shakeEffectPlus 5s ease-in infinite;

}
@keyframes shakeEffectPlus{


    50%{
        left: 48%;
       top: 3%;
    }
  
}




